<div class="container-fluid text-center my-4">
    <div >
        <h1>To Do List:</h1>  
        <label for="" class="mx-2">
          Task:
          <input
            class="mx-2"
            type="text"
            [formControl]="task"
            placeholder="Enter your task"
          />
        </label>
        <button class="btn btn-success mx-2" (click)="getTask()">Add</button>
    </div>
  <div *ngIf="taskList?.length>0" class="my-3">
    <h1>Remaining Tasks:</h1>
    <h5 *ngFor="let task of taskList, index as i">
        <div class="row">
            <div class="col">{{i+1}}.</div>
            <div class="col">{{task}}</div>
            <div class="col">
                <button class="btn btn-danger" (click)="done(taskList[i])">Mark as done</button>
            </div>
        </div>
    </h5>
  </div>
  <div *ngIf="completedTask?.length>0" class="my-3">
    <h1>Completed Tasks:</h1>
    <h5 *ngFor="let task of completedTask, index as i">
        <div class="row">
            <div class="col">{{i+1}}.</div>
            <div class="col">{{task}} </div>
            <div class="col">
                <button class="btn btn-warning" (click)="backToTaskList(completedTask[i])">Mark as undone</button>
            </div>
        </div>
    </h5>
  </div>
  <div *ngIf="alertMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{alertMessage}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
  </div>
</div>
  